<nav id="sidebar" style="height: 100vh">
    <div class="sidebar-header">
        <h3>Shop</h3>
    </div>
    <ul class="list-unstyled components">
        <p>Categories</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">All</a>

        </li>
        <li>
            <a href="#">Brooms</a>

        </li>
        <li>
            <a href="#">Wands</a>
        </li>
        <li>
            <a href="#">Potions</a>
        </li>
    </ul>


</nav>


