/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Raleway";
    src:url('/assets/fonts/Raleway-Light.ttf');
}
body {
    font-family: Raleway;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #e2e0d3ff;
    color: black;
}

.nav-pills .nav-link {
    background: #fffbe6ff;
    color: darkgray;
}

.btn-primary{
    background: #e2e0d3ff;
    color: black;
    border: 1px solid #e2e0d3ff;
}
.btn-primary:hover{
    background: #e2e0d3ff;
border: 1px solid lightgray;
}

html,
body {
  height: 100%;
  
}
