<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <img class="masthead-brand" src="/assets/logo.png">
              <nav class="nav nav-masthead">
                <a class="nav-link active" [routerLink]="['/portail']">Home</a>
                <a class="nav-link" [routerLink]="['/connexion']" (click)=sendProfile(0)>Connect to ViewStats</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Bienvenue chez Safelife</h1>
            <p class="lead">Ici j'aurai un texte de présentation de Safelife et de l'application Gatherman - Coming soon !</p>
            <div class="row text-center">
              <h2>Télécharger l'application GATHERMAN</h2>
                  <p><a href="#" class="btn btn-app-store"><i class="fa fa-apple"></i> <span class="small">Download on the</span> <span class="big">App Store</span></a></p>
            </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Droits réservés SAFELIFE 2019</p>
            </div>
          </div>

        </div>

      </div>

    </div>